h1.headerTitle{
  color:white !important;
  margin: 0 auto;
  text-align:center;
  padding:1rem 0;
  font: 1rem;
}

.card__model.card {
  border: 0.0983rem solid rgb(32, 35, 41);
  margin: 1rem 0;
  height: 26vw;
}

.card__model p {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.card img {
  background-color: #202329!important;
}

CardImg {
  width: 100%;
  border-radius: 1.55rem 0;
  background-color: rgb(32, 35, 41);
}
.card-title {
  font-style: normal;
  font-weight: bold;
  margin-bottom: .75rem;
  line-height: 1rem;
}
.infoFooter span{
  color:white;
}